<!DOCTYPE html>
<html>
<head>
	<title>Login App</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li><a href="/">Dashboard</a></li>
				<li><a href="/">Login</a></li>
				<li><a href="/">Register</a></li>
				<li><a href="/">Logout</a></li>
			</ul>
		</nav>
	</div>
	{{{body}}}
	<footer class="footer">
		<p>&copy; 2016 LoginApp, Inc.</p>
	</footer>
</body>
</html>